---
layout: home
title: Você Fiscal | Blog — Fiscalize a Eleição, Garanta seu Voto
---
{% include JB/setup %}

<div class="posts">
  {% for post in paginator.posts %}
    <div class="page-header">
      <h1><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a> {% if post.tagline %}<small><br />{{post.tagline}}</small>{% endif %}</h1>
    </div>

    <div class="row-fluid post-full">
      <div class="span12">
        <div class="date">
          <span>{{ post.date | date_to_long_string }}</span>
        </div>
        <div class="content">
          {{ post.content }}
        </div>
        <p>
          Compartilhe no:
          <a href="https://facebook.com/sharer.php?u={{ BASE_PATH }}{{ post.url | uri_escape }}">Facebook</a> |
          <a href="https://twitter.com/intent/tweet?url={{ BASE_PATH }}{{ post.url | uri_escape }}&text={{ post.title | uri_escape }}&via={{ site.author.twitter }}">Twitter</a> |
          <a href="https://plus.google.com/share?url={{ BASE_PATH }}{{ post.url | uri_escape }}">Google+</a>
        </p>
        <hr />
      {% unless post.categories == empty %}
        <ul class="tag_box inline">
          <li><i class="icon-folder-open"></i></li>
          {% assign categories_list = post.categories %}
          {% include JB/categories_list %}
        </ul>
      {% endunless %}

      {% unless post.tags == empty %}
        <ul class="tag_box inline">
          <li><i class="icon-tags"></i></li>
          {% assign tags_list = post.tags %}
          {% include JB/tags_list %}
        </ul>
      {% endunless %}

      </div>
    </div>
  {% endfor %}

  <hr>
  <a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Artigos anteriores</a>
</div>
